body {
    background-color: #f5f5f5;
    overflow: hidden;
  }
  
  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to bottom, rgba(14, 29, 51, 0.8), rgba(14, 29, 51, 0.2));
  }
  
  .hero-slider {
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  .hero-slider .carousel-cell {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .hero-slider .carousel-cell .inner {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    color: white;
    text-align: center;
  }
  .hero-slider .carousel-cell .inner .subtitle {
    font-family: "Roboto Slab", serif;
    line-height: 1.2em;
    font-weight: 200;
    font-style: italic;
    letter-spacing: 3px;
    color: #f5f5f5;
    margin-bottom: 5px;
  }
  .hero-slider .carousel-cell .inner .title {
    font-family: "Montserrat", sans-serif;
    line-height: 1.2em;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 40px;
    color: #f5f5f5;
  }
  .hero-slider .carousel-cell .inner .btn {
    border: 1px solid #fff;
    padding: 14px 18px;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-size: 0.8rem;
    letter-spacing: 3px;
    color: #fff;
    text-decoration: none;
    transition: all .2s ease;
  }
  .hero-slider .carousel-cell .inner .btn:hover {
    background: #fff;
    color: #000;
  }
  .hero-slider .flickity-prev-next-button {
    width: 80px;
    height: 80px;
    background: transparent;
  }
  .hero-slider .flickity-prev-next-button:hover {
    background: transparent;
  }
  .hero-slider .flickity-prev-next-button .arrow {
    fill: white;
  }
  .hero-slider .flickity-page-dots {
    bottom: 30px;
  }
  .hero-slider .flickity-page-dots .dot {
    width: 30px;
    height: 4px;
    opacity: 1;
    background: rgba(255, 255, 255, 0.5);
    border: 0 solid white;
    border-radius: 0;
  }
  .hero-slider .flickity-page-dots .dot.is-selected {
    background: #f5f5f5;
    border: 0 solid #f5f5f5;
  }
  

  /* gallery */
  
a {
    color: inherit;
    text-decoration: none;
  }
  
  h2 {
    padding: 50px 0;
    text-align: center;
    text-transform: uppercase;
  }
  
  .container-gallery {
    position: relative;
    margin: auto;
    width: 250px;
    height: 250px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    cursor: pointer;
    overflow: hidden;
  }
  .container-gallery:hover .overlay {
    opacity: 1;
    width: 100%;
    height: 100%;
  }
  .container-gallery:hover span {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: transform .5s ease, opacity 1.3s ease;
    transition: transform .5s ease, opacity 1.3s ease;
  }
  .container-gallery .overlay {
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    margin: auto;
    width: 0px;
    height: 0px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    opacity: 0;
    -webkit-transition: .4s ease;
    transition: .4s ease;
  }
  .container-gallery span {
    color: #fff;
    text-align: center;
    position: absolute;
    margin: auto;
    width: 200px;
    height: 30px;
    line-height: 30px;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: transform .5s ease, opacity .7s ease;
    transition: transform .5s ease, opacity .7s ease;
  }

  /* stting up images to the gallery */

  .img1 {
    background: url("../img/tour/1.jpg");
    background-size: cover;
    background-position: center center;
  }

  .img2 {
    background: url("../img/tour/2.jpg");
    background-size: cover;
    background-position: center center;
  }

  .img3 {
    background: url("../img/tour/3.jpg");
    background-size: cover;
    background-position: center center;
  }

  .img4 {
    background: url("../img/tour/4.jpg");
    background-size: cover;
    background-position: center center;
  }

  .img5 {
    background: url("../img/tour/5.jpg");
    background-size: cover;
    background-position: center center;
  }

  .img6 {
    background: url("../img/tour/6.jpg");
    background-size: cover;
    background-position: center center;
  }

  .img7 {
    background: url("../img/tour/7.jpg");
    background-size: cover;
    background-position: center center;
  }

  .img8 {
    background: url("../img/tour/8.jpg");
    background-size: cover;
    background-position: center center;
  }
  
  .img9 {
    background: url("../img/tour/9.jpg");
    background-size: cover;
    background-position: center center;
  }
  
  /* navbar styling */

  nav {
    padding: 0px 5px;
    background-color: #30303096 !important;
  }

  nav a h1 {
    color: #f5f5f5 !important;
  }

  .navbar-brand {
    margin-right: 7%;
  }
 
  .navbar-start {
    width: 100%;
  }

  nav a.topNav {
    display: inline;
    color: #d1d1d1;
    background-color: #00000000 !important;
    border-bottom: 1px solid #d1d1d1;
    margin: 5px 0;
    margin-bottom: 15px;
    width: 15%;
    text-align: center !important;
  }

  nav a.topNav:hover {
    color: #f5f5f5;
    border-bottom: 1px solid #f5f5f5;
  }

  nav .navbar-start {
    margin-left: 3%;
  }

  .is-active {
    border-bottom: 2px solid #ffbb00 !important;
    color: #ffbb00 !important;
    font-weight: bold;
  }

  a#v-brand {
    border-bottom: none !important; 
  }

  /* stylesheet for contact form */
  
  input.isprimary {
    outline: none !important;
    box-shadow: none !important;
    border: none;
    border-bottom: 2px solid #d3d3d3;
    border-radius: 0 !important;
  }

  input.isprimary:hover {
    outline: none !important;
    box-shadow: none !important;
    border-bottom: 2px solid #30303087;
    border-radius: 0 !important;
    /* background-color: #e8e9ea; */
    transition: all 1s ease;
  }

  input.isprimary:focus, input.isprimary:active {
    outline: none !important;
    box-shadow: none !important;
    border: none;
    border-bottom: 2px solid #ffbb00;
    border-radius: 0 !important;
    /* background-color: #e8e9ea; */
    transition: all 1s ease;
  }

  textarea.isprimary {
    outline: none !important;
    box-shadow: none !important;
    border: none;
    border: 2px solid #d3d3d3;
    border-radius: 0 !important;
  }

  textarea.isprimary:hover {
    outline: none !important;
    box-shadow: none !important;
    border: 2px solid #30303087;
    border-radius: 0 !important;
    /* background-color: #e8e9ea; */
    transition: all 1s ease;
  }

  textarea.isprimary:focus, input.isprimary:active {
    outline: none !important;
    box-shadow: none !important;
    border: none;
    border: 2px solid #ffbb00;
    border-radius: 0 !important;
    /* background-color: #e8e9ea; */
    transition: all 1s ease;
  }

  input.isbtn {
    outline: none !important;
    box-shadow: none !important;
    border: none;
    border: 2px solid #303030;
    border-radius: 0 !important;
    background-color: #30303000;
    color: #303030;
    /* width: 100%; */
  }

  input.isbtn:hover {
    outline: none !important;
    box-shadow: none !important;
    border: none;
    border: 2px solid #000;
    border-radius: 0 !important;
    background-color: #000;
    color: #fff;
    /* width: 100%; */
    letter-spacing: 0.5em;
    font-weight: bold;
    transition: all 1s ease;
  }

  input.isbtn:focus, input.isprimary:active {
    outline: none !important;
    box-shadow: none !important;
    border: 2px solid #ffbb00;
    border-radius: 0 !important;
    /* background-color: #e8e9ea; */
    color: #ffbb00;
    letter-spacing: 0.5em;
    background-color: #000;
    font-weight: bold;
    transition: all 1s ease;
  }